<div class="box">
    <div class="box-body justify-center align-center flex-column">
        <img class="w-100" src="../../../assets/images/empty.svg" alt="">
        <h2 class="error-text section">موردی یافت نشد.</h2>
    </div>
</div>