<div class="modal-box">       
    <div class="modal-header">
        <div class="modal-header-title"> 
            <span class="close-modal">
                <img src="../../../assets/images/icn_xcross_24.svg" (click)="closeModal()" alt="">
            </span>
            کد معرف
        </div> 
        <h5 class="head">
            در صورتی که معرف دارید در فیلد زیر کد معرف خود را وارد کنید.
        </h5>
    </div>
    <div class="modal-body">
        <div class="modal-body-sec ">
              
            <div class="section">
                <input class="input" type="text"  id="invoice" required [(ngModel)]="refid"/>
                <label class="input-label" for="invoice">
                    کد معرف 
                </label>
            </div>
        </div>
        <div class="modal-body-sec flex-column">
            <button class="btn btn-buy" (click)="addRefid(refid)" [disabled]="loading">
                <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
                <span *ngIf="!loading">تایید</span>
            </button>
            <button class="btn" (click)="closeModal()">معرف ندارم.</button>
        </div>
    </div>
</div>