<div class="transaction-sec">

    <div class="transaction-sec-right">
        <div class="sec-right-head">فیلترها</div>
        <div class="sec-right-title">وضعیت پرداخت</div>
        <div class="filter-sec">
            <button class="btn btn-filter" (click)="status = 'all'" [ngClass]="{'btn-filter-sctive': status == 'all'}">همه</button>
            <button class="btn btn-filter" (click)="status = 'success'" [ngClass]="{'btn-filter-sctive': status == 'success'}">موفق</button>
            <button class="btn btn-filter" (click)="status = 'failure'" [ngClass]="{'btn-filter-sctive': status == 'failure'}">ناموفق</button>
        </div>
        <div class="sec-right-title">نوع تراکنش</div>
        <div class="position-relative">
            <div class="select-background" *ngIf="background" (click)="background = false"></div>
            <input class="input input-option" readonly (click)="background = true" type="text" [value]="getTransactionTypeText()">
            <img class="input-img input-img-position" src="../../../assets/images/icn_drop_down_arrow_24.svg" alt="شارژ موبایل">
            <div class="input-option-sec active" *ngIf="background">
                <ul class="list-style-type">
                    <li class="input-option-item" (click)="filterType('all'); toggleBackground()">همه</li>
                    <li class="input-option-item" (click)="filterType('11'); toggleBackground()">شارژ</li>
                    <li class="input-option-item" (click)="filterType('12'); toggleBackground()">بسته اینترنت</li>
                </ul>
            </div>
        </div>   
        <button class="btn btn-filter-fullWidth" (click)="filter()" [disabled]="loading">
            <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
            <span *ngIf="!loading">فیلتر کن</span>
        </button>
    </div>

    <div class="transaction-sec-left">
        <!-- <div><button class="btn-filter-transaction">فیلتر <img class="btn-filter-img" src="../../../assets/images/icn_filter_24_transction.svg" alt=""></button></div> -->
        
        <div class="card card-margin-bottom" *ngFor="let transaction of getTransactionsList()" >
            <div class="justify-between section">
                <div class="card-right">
                    <div class="card-right-title"><img class="vertical-middle margin-left" [src]="transaction.type == 11 ? '../../../assets/images/icn_data_24_transction.svg' : '../../../assets/images/icn_charge_24_transction.svg'" alt="شارژ موبایل">{{getTransactionTitle(transaction)}}</div>
                    <div class="card-right-info" *ngIf="transaction.status == 1 && transaction.verify == 1"><img class="vertical-middle" src="../../../assets/images/icn_circle_check_outline_18_transction.svg" alt="شارژ موبایل"> <span class="green-color margin-left">تراکنش موفق</span> </div>
                    <div class="card-right-info" *ngIf="transaction.status != 1 || transaction.verify != 1"><img class="vertical-middle" src="../../../assets/images/icn_circle_xcross_outline_18_transction.svg" alt="شارژ موبایل"> <span class="error-text margin-left">تراکنش ناموفق</span> </div>
                </div>
                <div class="card-left">
                    <div class="card-left-price">مبلغ تراکنش:  {{transaction.amount | rialToToman | numberSeperator | persianNumber}} تومان</div>
                    <div class="card-left-item"><span>{{transaction.date | jalali : 'full' | persianNumber}}</span></div>
                </div>
            </div>
            <hr>
            
            <div class="description section cursorPointer" *ngIf="transaction.invoice && getOperatorByCode(transaction.pattern.req_op).value" (click)="copyMessage()" ngxClipboard [cbContent]="transaction.invoice">
                کد حسابداری عصر ویرا: <span [class]="'color ' + getOperatorByCode(transaction.pattern.req_op).value">{{transaction.invoice | persianNumber}}</span>
            </div>
            <hr *ngIf="transaction.invoice && getOperatorByCode(transaction.pattern.req_op).value">
            <!-- <div class="description section cursorPointer" *ngIf="getSimTypeByCode(getOperatorByCode(transaction.pattern.req_op).value, transaction.pattern.req_simtype)" >
                نوع سیم‌کارت: <span>{{getSimTypeByCode(getOperatorByCode(transaction.pattern.req_op).value, transaction.pattern.req_simtype)}}</span>
            </div> -->
            
            <div class="description section cursorPointer" *ngIf="transaction.pattern.req_number" >
                شماره تلفن همراه: <span>{{transaction.pattern.req_number | persianNumber}}</span>
            </div>
            
            <hr *ngIf="transaction.pattern.req_number" >
            <div class="description section cursorPointer" *ngIf="getOperatorByCode(transaction.pattern.req_op).value" >
                اپراتور: 
                <span [class]="'transaction-operator color ' + getOperatorByCode(transaction.pattern.req_op).value">
                    <img class="img-max-width" *ngIf="getOperatorByCode(transaction.pattern.req_op).value == 'Mtn'" src="../../../assets/charge-irancell.png" alt="">
                    <img class="img-max-width" *ngIf="getOperatorByCode(transaction.pattern.req_op).value == 'Mci'" src="../../../assets/charge-hamrah.png" alt="">
                    <img class="img-max-width" *ngIf="getOperatorByCode(transaction.pattern.req_op).value == 'Rightel'" src="../../../assets/charge-rightel.png" alt="">
                    {{getOperatorByCode(transaction.pattern.req_op).description}}
                </span>
            </div>
            <hr *ngIf="getOperatorByCode(transaction.pattern.req_op).value">

            <div class="description section cursorPointer" *ngIf="transaction.invoice_shaparak && transaction.invoice_shaparak != 'P100'" >
                کد پیگیری درگاه: 
                <span *ngIf="transaction.invoice_shaparak != 'P100'" [class]="'color ' + getOperatorByCode(transaction.pattern.req_op).value">{{transaction.invoice_shaparak | persianNumber}}</span>
                <span *ngIf="transaction.invoice_shaparak == 'P100'" [class]="'color ' + getOperatorByCode(transaction.pattern.req_op).value">پرداخت از کیف پول</span>
            </div>
            <hr *ngIf="transaction.invoice_shaparak && transaction.invoice_shaparak != 'P100'">
          
            <div class="description section cursorPointer" *ngIf="transaction.pattern.invoice_cc && getOperatorByCode(transaction.pattern.req_op).value" >
                شماره حساب‌داری اپراتور: <span [class]="'color ' + getOperatorByCode(transaction.pattern.req_op).value">{{transaction.pattern.invoice_cc | persianNumber}}</span>
            </div>
            <hr *ngIf="transaction.pattern.invoice_cc && getOperatorByCode(transaction.pattern.req_op).value">

            <div class="description section cursorPointer" *ngIf="transaction.pattern.req_bundle_title" >
                نام بسته : <span >{{transaction.pattern.req_bundle_title}}</span>
            </div>
            <hr *ngIf="transaction.pattern.req_bundle_title">

            <div class="description section cursorPointer" *ngIf="transaction.pattern.pin_list" >
                پین کد کارت شارژ ها:  
                <div class="green-color flex-column">
                    <div *ngFor="let pin of transaction.pattern.pin_list" (click)="copyMessage()" ngxClipboard [cbContent]="pin">{{pin}}</div>
                </div>
            </div>
            <div class="description section cursorPointer" *ngIf="transaction.pattern.pin_list" >
                سریال کارت شارژ ها: 
                <div class="green-color flex-column">
                    <div *ngFor="let pin of transaction.pattern.voucher_list" >{{pin}}</div>
                </div>
            </div>
            <hr *ngIf="transaction.invoice_shaparak">
            
            <div class="description section">
                توضیحات: {{transaction.description}}
            </div>
            <div class="description section">
                <div class="green-color justify-between cursorPointer" (click)="doTransactionAgain(transaction)">
                    <img src="../../../assets/images/icn_repeat_circual_24.svg" alt="">
                    <span class="section-span"> تکرار تراکنش </span>
                </div>
                <div *ngIf="transaction.type != 13 && !inTheList(transaction.pattern.req_number)" class="green-color justify-between cursorPointer" (click)="addFavoriteNumber(transaction.pattern.req_number)">
                    <img src="../../../assets/images/icn_cross_plus_16.svg" alt="">
                    <span class="section-span"> افزودن به شماره‌های منتخب </span>
                </div>
            </div>
        </div>
        <app-emptystate *ngIf="!getTransactionsList().length"></app-emptystate>
    
    </div>

</div> 