<div class="modal-box">       
    <div class="modal-header">
        <div class="modal-header-title"> 
            <span class="close-modal">
                <img src="../../../assets/images/icn_xcross_24.svg" (click)="closeModal()" alt="">
            </span>
            اطلاعات معرف
        </div> 
    </div>
    <div class="modal-body">
        <img style="margin: 0 auto;width: 100px; border-radius: 50%;" [src]="reagent.avatar_link" alt=""> 
    </div>
    <div class="modal-body">
        <div class="modal-body-sec" *ngIf="reagent">
            <div class="section justify-between align-center">
                نام معرف: <span class="align-center">{{reagent.fname}} {{reagent.lname}}</span>
            </div>
        </div>
        <div class="modal-body-sec" *ngIf="reagent">
            <div class="section justify-between">
                کد کاربری: <span>{{reagent.usercode}}</span>
            </div>
        </div>
        <div class="modal-body-sec" *ngIf="reagent">
            <div class="section justify-between">
                شماره موبایل معرف: <span>{{reagent.mobile}}</span>
            </div>
        </div>
        <div class="modal-body-sec flex-column">
            <button class="btn btn-buy" (click)="submit()" [disabled]="loading">
                <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
                <span *ngIf="!loading">تایید</span>
            </button>
        </div>
    </div>
    
</div>