<div class="modal-box no-zindex" *ngIf="transaction">  
    <div class="modal-body" *ngIf="transaction.verify == 1 && transaction.status == 1">
        <div class="success-payment">
            <img src="../../../assets/images/icn_circle_check_outline_18.svg" alt="شارژ موبایل">
            <div class="green-color">خرید شما با موفقیت انجام شد.</div>
        </div>
        <div  class="modal-body-sec" *ngIf="transaction.pattern.req_number">
            <div>برای شماره</div>
            <div>{{transaction.pattern.req_number | persianNumber}}</div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="transaction.type">
            <div>شرح تراکنش</div>
            <div>{{getTransactionName()}}</div>
        </div>
        
        <div *ngIf="transaction.date" class="modal-body-sec ">
            <div>تاریخ تراکنش</div>
            <div>{{transaction.date | jalali : 'full'  | persianNumber}}</div>
        </div>
        <div *ngIf="transaction.invoice" class="modal-body-sec modal-bg-dark">
            <div>کد حسابداری عصر ویرا</div>
            <div >{{transaction.invoice | persianNumber}}</div>
        </div>
        <div *ngIf="transaction.amount" class="modal-body-sec">
            <div>مبلغ تراکنش</div>
            <div>{{transaction.amount | rialToToman | numberSeperator | persianNumber}} تومان</div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="transaction.description">
            <div>توضیحات</div>
            <div class="transaction-description">{{transaction.description}}</div>
        </div>
        <div  class="modal-body-sec " *ngIf="transaction.invoice_shaparak">
            <div>کد پیگیری درگاه</div>
            <div *ngIf="transaction.invoice_shaparak != 'P100'">{{transaction.invoice_shaparak}}</div>
            <div *ngIf="transaction.invoice_shaparak == 'P100'">پرداخت از کیف پول</div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="transaction.pattern.invoice_cc">
            <div>کد حساب‌داری اپراتور</div>
            <div>{{transaction.pattern.invoice_cc}}</div>
        </div>
        <div  class="modal-body-sec " *ngIf="transaction.pattern?.pin_list?.length">
            <div>کدهای شارژ</div>
            <div class="green-color flex-column">
                <div *ngFor="let pin of transaction.pattern.pin_list" (click)="copyMessage()" ngxClipboard [cbContent]="pin">{{pin}}</div>
            </div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="getOperatorByCode(transaction.pattern.req_op).description">
            <div>اپراتور</div>
            <div>{{getOperatorByCode(transaction.pattern.req_op).description}}</div>
        </div>
        
    </div>     
    <div class="modal-body" *ngIf="transaction.verify == 0 || transaction.status == 0">
        <div class="success-payment">
            <img src="../../../assets/images/icn_circle_xcross_outline_18_transction.svg" alt="شارژ موبایل">
            <div class="error-text">تراکنش موفقیت آمیز نبود.</div>
        </div>
        <div  class="modal-body-sec" *ngIf="transaction.pattern.req_number">
            <div>برای شماره</div>
            <div>{{transaction.pattern.req_number | persianNumber}}</div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="transaction.type">
            <div>شرح تراکنش</div>
            <div>{{getTransactionName()}}</div>
        </div>
        
        <div *ngIf="transaction.date" class="modal-body-sec ">
            <div>تاریخ تراکنش</div>
            <div>{{transaction.date | jalali : 'full'  | persianNumber}}</div>
        </div>
        <div *ngIf="transaction.invoice" class="modal-body-sec modal-bg-dark">
            <div>کد حسابداری عصر ویرا</div>
            <div >{{transaction.invoice | persianNumber}}</div>
        </div>
        <div *ngIf="transaction.amount" class="modal-body-sec">
            <div>مبلغ تراکنش</div>
            <div>{{transaction.amount | rialToToman | numberSeperator | persianNumber}} تومان</div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="transaction.description">
            <div>توضیحات</div>
            <div class="transaction-description">{{transaction.description}}</div>
        </div>
        <div  class="modal-body-sec " *ngIf="transaction.invoice_shaparak">
            <div>کد پیگیری درگاه</div>
            <div>{{transaction.invoice_shaparak}}</div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="transaction.pattern.invoice_cc">
            <div>کد حساب‌داری اپراتور</div>
            <div>{{transaction.pattern.invoice_cc}}</div>
        </div>
        <div  class="modal-body-sec" *ngIf="transaction.pattern?.pin_list?.length">
            <div>کدهای شارژ</div>
            <div class="green-color flex-column">
                <div *ngFor="let pin of transaction.pattern.pin_list" (click)="copyMessage()" ngxClipboard [cbContent]="pin">{{pin}}</div>
            </div>
        </div>
        <div  class="modal-body-sec modal-bg-dark" *ngIf="getOperatorByCode(transaction.pattern.req_op).description">
            <div>اپراتور</div>
            <div>{{getOperatorByCode(transaction.pattern.req_op).description}}</div>
        </div>
    </div>
</div>

