@mixin badge-variant($bg) {
  //color: color-yiq($bg);
  color: $white;
  border-color: $bg;
  background-color: $bg;

  &[href] {
    @include hover-focus {
      color: color-yiq($bg);
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}
@mixin badge-outline-variant($bg) {
  //color: color-yiq($bg);
  color: $bg;
  border-color: $bg;
  background-color: transparent;
  &[href] {
    @include hover-focus {
      color: color-yiq($bg);
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}
