<nav class="nav-sec">
    <div class="nav container">
        <div class="nav-responsive">
            <div class="btn-hamburger-menu ">
                <app-navigation></app-navigation>
            </div>
            <!-- <button class="btn-hamburger-menu"><img class="btn-hamburger-menu-img" src="../../../assets/images/icn_menu_color_24.svg" alt=""></button> -->
            <a href="https://asrevira.com" target="_blank">
                <ul class="list-style-type responsive-sec-logo">
                    <li class="nav-responsive-item-logo"><img class="nav-right-logo-img" src="../../../assets/images/index.svg" alt="شارژ موبایل"></li>
                    <li class="nav-responsive-item-logo"><a class="nav-right-logo">عصر ویرا</a></li>  
                </ul>
            </a>
            <div class="nav-left" *ngIf="!loading && isAuthenticated() && userInfo && ewallet">
                <div class="profile-nav cursorPointer">
                    <div class="profile-info">
                        <div class="profile-name">{{userInfo.fname}} {{userInfo.lname}}</div>
                        <div class="profile-credit">اعتبار:<span class="money"> {{ewallet.amount | rialToToman | numberSeperator | persianNumber}} تومان</span></div>              
                    </div>
                    <div class="profile-img-nav" [routerLink]="[ '/پروفایل' ]"><img width="50px" [src]="userInfo.avatar_link || getDefaultProfile()" alt="شارژ موبایل"></div>
                </div>
            </div>
            <div class="nav-left" *ngIf="loading || (isAuthenticated() && !(userInfo || ewallet))">
                <div class="profile-nav">
                    <div class="profile-img-nav" ><img width="50px" src="../../../assets/loading-green.gif" alt="شارژ موبایل"/></div>
                </div>
            </div>

            <div class="nav-left" *ngIf="!isAuthenticated()">
                <div class="profile-nav">
                    <div class="profile-info full">
                        <div class="profile-name">کاربر مهمان</div>
                    </div>
                    <div class="profile-img-nav"><img width="50px" src="../../../assets/images/profile_img.svg" alt="شارژ موبایل"></div>
                </div>
            </div>
        </div>
        <div class="nav-right">
            <a href="https://asrevira.com" target="_blank">
                <ul class="nav-right-logo-sec" >
                    <li class="nav-right-item-logo"><img class="nav-right-logo-img" src="../../../assets/images/index.svg" alt="شارژ موبایل"></li>
                    <li class="nav-right-item-logo"><span class="nav-right-logo" >عصر ویرا</span></li>  
                </ul>
            </a>
            <ul class="nav-right-sec" *ngIf="isAuthenticated()">
                <li class="nav-right-item"><a class="nav-right-link" target="_blank" href="https://my.asrevira.com" *ngIf="hasSid()"> برگشت به ناحیه کاربری </a></li>
                <li class="nav-right-item"><a class="nav-right-link" [routerLink]="[ '/شارژ' ]"> شارژ مستقیم</a></li>
                <li class="nav-right-item"><a class="nav-right-link" [routerLink]="[ '/اینترنت' ]">بسته اینترنت</a></li>
                <li class="nav-right-item"><a class="nav-right-link" [routerLink]="[ '/تراکنش‌ها' ]">تراکنش‌ها</a></li>
                <li class="nav-right-item"><a class="nav-right-link" [routerLink]="[ '/کارت-شارژ' ]">کارت شارژ</a></li>
                <li class="nav-right-item" (click)="logout()"><a href="" class="nav-right-link">خروج</a></li>
            </ul>
            <ul class="nav-right-sec" *ngIf="!isAuthenticated()">
                <li class="nav-right-item"><a class="nav-right-link" target="_blank" href="https://my.asrevira.com" *ngIf="hasSid()"> برگشت به ناحیه کاربری </a></li>
                <li class="nav-right-item"><a class="nav-right-link" [routerLink]="[ '/شارژ' ]"> شارژ مستقیم</a></li>
                <li class="nav-right-item"><a class="nav-right-link" [routerLink]="[ '/اینترنت' ]">بسته اینترنت</a></li>
                <li class="nav-right-item"><a class="nav-right-link" [routerLink]="[ '/کارت-شارژ' ]">کارت شارژ</a></li>
                <li class="nav-right-item"><a class="nav-right-link" target="_blank" href="https://asrevira.com/حریم-خصوصی/"> حریم خصوصی</a></li>
                <li class="nav-right-item"><a class="nav-right-link" target="_blank" href="https://asrevira.com/تماس-با-ما/">تماس با ما</a></li>
                <li class="nav-right-item"><a class="nav-right-link" target="_blank" href="https://asrevira.com/درباره-عصرویرا/">درباره ما</a></li>
            </ul>
        </div>
        <div class="nav-left" *ngIf="!isAuthenticated()">
            <a class="btn-register" target="_blank" href="https://my.asrevira.com/portal@register">ثبت نام</a>
            <button class="btn-login" [routerLink]="[ '/ورود' ]">ورود</button>
        </div> 
        <div class="nav-left loggedIn" *ngIf="isAuthenticated() && userInfo && ewallet">
            <div class="profile-nav cursorPointer">
                <div class="profile-info">
                    <div class="profile-name">{{userInfo.fname}} {{userInfo.lname}}</div>
                    <div class="profile-credit">اعتبار:<span class="money"> {{ewallet.amount | rialToToman | numberSeperator | persianNumber}} تومان</span></div>              
                </div>
                <div class="profile-img-nav" [routerLink]="[ '/پروفایل' ]"><img width="50px" [src]="userInfo.avatar_link || getDefaultProfile()" alt="شارژ موبایل"></div>
            </div>
        </div>
        <div class="nav-left loggedIn" *ngIf="isAuthenticated() && !(userInfo || ewallet)">
            <div class="profile-img-nav"><img width="50px" src="../../../assets/loading-green.gif" alt="شارژ موبایل"/></div>
        </div>
    </div>
</nav>