<main class="main">
    <div class="box" *ngIf="ewallet && profile">
        <div class="box-header position-relative">
            <img class="box-header-img" src="../../../assets/images/icn_profile_blue_24.svg" alt="شارژ موبایل"> 
            <span>پروفایل {{profile.vip ? '(کاربر ویژه)' : ''}}</span>
        </div>
        <div class="box-body" *ngIf="profile">
            <div class="section justify-between">
                <div class="">
                    <span class="dot"></span>
                نام و نام‌خانوادگی
                </div>
                <div class="text-blue">{{profile.fname}} {{profile.lname}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                نام کاربری
                </div>
                <div class="text-blue">{{profile.username}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                کد کاربری
                </div>
                <div class="text-blue">{{profile.usercode | persianNumber}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                کد ملی
                </div>
                <div class="text-blue">{{profile.ncode | persianNumber}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                ایمیل
                </div>
                <div class="text-blue">{{profile.email}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                جنسیت
                </div>
                <div class="text-blue">{{getGender()}}</div>
            </div>
        </div> 
        <div class="box-header position-relative  margin-top">
            <img class="box-header-img" src="../../../assets/images/wallet.png" alt="شارژ موبایل"> 
            <span>کیف پول </span>
        </div>
        <div class="box-body" >
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                شماره حساب عصر ویرا شما
                </div>
                <div class="text-blue">{{ewallet.wid}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                موجودی کیف پول به تومان
                </div>
                <div class="text-blue">{{ewallet.amount | rialToToman | numberSeperator | persianNumber}} تومان</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                وضعیت کیف پول
                </div>
                <div class="text-blue">{{getStatus(ewallet.status)}}</div>
            </div>
        </div> 
        <div class="box-header position-relative  margin-top" *ngIf="profile.reagent">
            <img class="box-header-img" [src]="profile.reagent.avatar_link" alt="شارژ موبایل"> 
            <span>اطلاعات معرف </span>
        </div>
        <div class="box-body" *ngIf="profile.reagent">
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                نام
                </div>
                <div class="text-blue">{{profile.reagent.fname}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                نام خانوادگی
                </div>
                <div class="text-blue">{{profile.reagent.lname}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between" *ngIf="profile.reagent.lname">
                <div class="">
                    <span class="dot"></span>
                شماره تلفن
                </div>
                <div class="text-blue">{{profile.reagent.mobile}}</div>
            </div>
            <hr>
            <div class="section margin-top justify-between">
                <div class="">
                    <span class="dot"></span>
                کد کاربری
                </div>
                <div class="text-blue">{{profile.reagent.usercode}}</div>
            </div>
        </div>
    </div>
</main>