<div class="page-loader-action">
    <div class="loader animated bounceInDown"></div>
    <p class="animated bounceInUp"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> در حال پردازش اطلاعات...<br>شرکت نوین پردازان آتیه عصر ویرا</p>
</div>