.dsp{display:none;}
.blur{filter:blur(5px);-webkit-filter:blur(5px);}
.page-loader-action{
z-index: 3000;
position: fixed;
top: 0;right: 0;bottom: 0;left: 0;
width: 100%;height: 100%;
background:rgba(255,255,255,0.6);
overflow: hidden;
text-align: center;
cursor:wait;
}
.page-loader-action p{
font-size:16px;
margin-top:20px;
font-weight:bold;
color:#0086b3;
text-shadow: 2px 2px rgba(0,217,217,0.19);
cursor:wait;
}
.loader{
margin-top:calc(50vh - 50px);
margin-right: calc(50% - 30px);
background-color:transparent;
background-image:url("../../../assets/images/ASRE-VIRA250.png");
background-size: 60px 60px;
font-family:IRANSans,Arial,Helvetica,sans-serif;
text-shadow:1px 1px rgba(0,217,217,0.19);
width:60px;height:60px;
-webkit-animation: heartbeat 1s infinite!important;
animation: heartbeat 1s infinite!important;
cursor:wait;
}
@keyframes heartbeat
{
  0%
  {
  transform: scale( .75 );
  }
  20%
  {
  transform: scale( 1 );
  }
  40%
  {
  transform: scale( .75 );
  }
  60%
  {
  transform: scale( 1 );
  }
  80%
  {
  transform: scale( .75 );
  }
  100%
  {
  transform: scale( .75 );
  }
}