.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
  .previous ,.next {
    &.disabled .page-link {
      pointer-events: none;
      opacity: $pagination-disabled-opacity;
    }
  }
}

.page-item {
  &.previous ,&.next {
    //@include border-right-radius($border-radius);
    background: transparent;
    box-shadow: none;
    font-size: $pagination-arrow-size;
    @include hover-focus {
      color: $pagination-hover-bg;
      background: transparent;
    }
  }

  &.active .page-link {
    z-index: 2;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
  &:focus, .page-link:focus{
    outline: none;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  //margin-left: -$pagination-border-width;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  //border: $pagination-border-width solid $pagination-border-color;
  font-size: $pagination-font-size;
  width: $pagination-width;
  height: $pagination-height;
  text-align: center;
  margin: 0 3px;
  box-shadow: $pagination-box-shadow;
  @include border-radius($pagination-border-radius);
  transition: all .2s;
  cursor: pointer;

  @include hover-focus {
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }
  i{
    color: $pagination-arrow-color;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
