<div class="box">
    <div class="box-header">
        <img class="box-header-img" src="../../../assets/images/icn_charge_color_24.svg" alt="شارژ موبایل"> اینترنت همراه
    </div>
    <div class="section">
        <div class="section-title">
            <span class="dot"></span>
            توجه
        </div>
        <div class="product-description error-text">
                کاربر گرامی لطفا از نوع بسته اینترنت خود اطمینان حاصل کنید که متناسب با نوع سیم کارت شما باشد در غیر اینصورت بسته اینترنتی برای شما فعال نمی شود.    
        </div>
    </div> 
    <div class="box-body">
        
       <div class="section" [ngClass]="{'rightel': operator=='Rightel', 'irancell': operator=='Mtn', 'mci': operator=='Mci'}">
            <input [ngClass]="{'error': messages.phoneNumber}" (change)="updateOperator()" (click)="toggleBackground()" autocomplete="off" class="input" type="tele" maxlength="11" id="phoneNumber" required [(ngModel)]="phoneNumber">
            <label class="input-label" for="phoneNumber">شماره موبایل</label>
            <div class="select-background" *ngIf="background && getFavoriteNumbers().length" (click)="toggleBackground()"></div>
            <div class="input-option-sec active" *ngIf="background && getFavoriteNumbers().length">
                <ul class="list-style-type">
                    <li class="input-option-item position-relative" (click)="toggleBackground();selectNumber(number);" *ngFor="let number of getFavoriteNumbers()" >
                    <div class="input-operator favoriteNumber irancell-color" *ngIf="getOperator(number) == 'Mtn'">
                        <span>ایرانسل</span> 
                        <img class="input-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل"> 
                    </div>
                    <div class="input-operator favoriteNumber mci-color" *ngIf="getOperator(number) == 'Mci'">
                        <span>همراه اول</span> 
                        <img class="input-img" src="../../../assets/charge-hamrah.png" alt="شارژ موبایل"> 
                    </div>
                    <div class="input-operator favoriteNumber rightel-color" *ngIf="getOperator(number) == 'Rightel'">
                        <span>رایتل</span> 
                        <img class="input-img" src="../../../assets/charge-rightel.png" alt="شارژ موبایل"> 
                    </div>
                    <div>{{number}}</div>
                    </li>
                </ul>
            </div>
            <div class="input-operator irancell-color" *ngIf="operator == 'Mtn'">
                <span>ایرانسل</span> 
                <img class="input-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل"> 
            </div>
            <div class="input-operator mci-color" *ngIf="operator == 'Mci'">
                <span>همراه اول</span> 
                <img class="input-img" src="../../../assets/charge-hamrah.png" alt="شارژ موبایل"> 
            </div>
            <div class="input-operator rightel-color" *ngIf="operator == 'Rightel'">
                <span>رایتل</span> 
                <img class="input-img" src="../../../assets/charge-rightel.png" alt="شارژ موبایل"> 
            </div>
            <img *ngIf="!operator" class="input-img input-img-position" src="../../../assets/images/icn_contact_24.svg" alt="شارژ موبایل">
         </div>  
         <div class="section">
            <div class="section-title">
                <span class="dot"></span>
                اپراتور
            </div>
            <div class="section-type" [ngClass]="{'rightel': operator=='Rightel', 'irancell': operator=='Mtn', 'mci': operator=='Mci'}">
                <button class="btn options btn-type" [ngClass]="{'active': operator == item.value}" *ngFor="let item of operatorList; let i=index" (click)="selectOp(item.value)">{{item.description}}</button>
            </div>
        </div> 
        <div class="box-sec margin-top">
            <button class="btn btn-buy" (click)="search()" [disabled]="loading">
                <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
                <span *ngIf="!loading">جست وجو</span>
            </button>
        </div>
    </div>  
</div>