<main class="main">
   <div class="box">
      <div class="box-header position-relative">
         <img class="box-header-img" src="../../../assets/images/icn_charge_color_24.svg" alt="شارژ موبایل"> 
         <span>شارژ</span>
         <span class="tracking" [routerLink]="[ 'پیگیری' ]">پیگیری خرید</span>
      </div>
      <div class="section">
         <div class="section-title">
               <span class="dot"></span>
               توجه
         </div>
         <div class="product-description error-text">
               کاربر گرامی لطفا از درست بودن نوع سیم کارت خود اطمینان حاصل فرمایید برای اپراتور های رایتل و همراه اول سیم کارت اعتباری فقط قابل پذیرش است و برای اپراتور ایرانسل نوع سیم کارت خود را اطمینان حاصل کنید در غیر اینصورت شارژ برای شما انجام نمی شود.         
         </div>
      </div>
      <div class="box-body" [ngClass]="{'rightel': operator=='Rightel', 'irancell': operator=='Mtn', 'mci': operator=='Mci'}">
         <div class="section">
               <input [ngClass]="{'error': messages.phoneNumber}" (change)="updateOperator()" (click)="toggleBackground()" autocomplete="off" class="input" type="tel" maxlength="11" id="phoneNumber" required [(ngModel)]="phoneNumber">
               <label class="input-label" for="phoneNumber">شماره موبایل</label>
               <div class="select-background" *ngIf="background && getFavoriteNumbers().length" (click)="toggleBackground()"></div>
               <div class="input-option-sec active" *ngIf="background && getFavoriteNumbers().length">
                  <ul class="list-style-type">
                     <li class="input-option-item position-relative" (click)="toggleBackground();selectNumber(number);" *ngFor="let number of getFavoriteNumbers()" >
                        <div class="input-operator favoriteNumber irancell-color" *ngIf="getOperator(number) == 'Mtn'">
                           <span>ایرانسل</span> 
                           <img class="input-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل"> 
                        </div>
                        <div class="input-operator favoriteNumber mci-color" *ngIf="getOperator(number) == 'Mci'">
                           <span>همراه اول</span> 
                           <img class="input-img" src="../../../assets/charge-hamrah.png" alt="شارژ موبایل"> 
                        </div>
                        <div class="input-operator favoriteNumber rightel-color" *ngIf="getOperator(number) == 'Rightel'">
                           <span>رایتل</span> 
                           <img class="input-img" src="../../../assets/charge-rightel.png" alt="شارژ موبایل"> 
                        </div>
                        <div>{{number}}</div>
                     </li>
                  </ul>
              </div>
               <div class="input-operator irancell-color" *ngIf="operator == 'Mtn'">
                  <span>ایرانسل</span> 
                  <img class="input-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل"> 
               </div>
               <div class="input-operator mci-color" *ngIf="operator == 'Mci'">
                  <span>همراه اول</span> 
                  <img class="input-img" src="../../../assets/charge-hamrah.png" alt="شارژ موبایل"> 
               </div>
               <div class="input-operator rightel-color" *ngIf="operator == 'Rightel'">
                  <span>رایتل</span> 
                  <img class="input-img" src="../../../assets/charge-rightel.png" alt="شارژ موبایل"> 
              </div>
               <img *ngIf="!getOperator(phoneNumber)" class="input-img input-img-position" src="../../../assets/images/icn_contact_24.svg" alt="شارژ موبایل">
         </div> 
         <div class="error-text section">{{messages.phoneNumber}}</div>
         <div class="section" *ngIf="getOperator(phoneNumber)">
            <div class="section-title">
                  <span class="dot"></span>
                  اپراتور
            </div>
            <div class="section-type" [ngClass]="{'rightel': operator=='Rightel', 'irancell': operator=='Mtn', 'mci': operator=='Mci'}">
                  <button class="btn options btn-type" [ngClass]="{'active': operator == item.value}" *ngFor="let item of operatorList; let i=index" (click)="selectOp(item.value)">{{item.description}}</button>
            </div>
         </div> 
         <div *ngIf="getOperator(phoneNumber)">
            <div class="section">
               <div class="section-title">
                  <span class="dot"></span>
                  نوع شارژ
               </div>
               <div class="section-type" >
                     <button class="btn options btn-type" [ngClass]="{'active': chargeType == item.value}" *ngFor="let item of getChargeTypeList(); let i=index" (click)="chargeType = item.value">{{item.description}}</button>
               </div>
            </div>
            <div *ngIf="operator">
               <div class="section">
                  <div class="section-title">
                     <span class="dot"></span>
                     مبلغ شارژ
                  </div>
                  <div *ngFor="let row of priceList" class="box-row">
                     <button *ngFor="let price of row" [ngClass]="{'active': amount == price}" class="btn options btn-price" (click)="selectItem(price)">{{ price | numberSeperator | persianNumber }} تومان</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="section margin-top" *ngIf="operator">
            <div class="section-title">
                  <span class="dot"></span>
                  مبلغ دلخواه از ۱۰۰۰ تا ۹۹٫۹۰۰ تومان
               </div>
            <div class="input-wrapper">
               <input class="input" type="number" min="1000" step="500" maxlength="6" max="99900" id="favoritePrice" required [(ngModel)]="amount"/>
            </div>
            <div class="section" style="margin-top: 28px;">
               <ng5-slider [(value)]="amount" [options]="options"></ng5-slider>
            </div>
         </div>
         <div class="section" *ngIf="getSimtypeList().length > 1">
            <div class="section-title">
               <span class="dot"></span>
               نوع سیم‌کارت
            </div>
            <div class="section-type">
                  <button class="btn options btn-type" [ngClass]="{'active': simtype == item.value}" *ngFor="let item of getSimtypeList(); let i=index" (click)="simtype = item.value">{{item.description}}</button>
            </div>
         </div>
         <div class="section" *ngIf="simtype == 1 && getOperator(phoneNumber) == 'Mtn'">
            <div class="section-title">
               <span class="dot"></span>
               حالت شارژ
            </div>
            <div class="section-type">
               <button class="btn options btn-type" [ngClass]="{'active': paybill == item.value}" *ngFor="let item of simtypeOptions; let i=index" (click)="paybill = item.value">{{item.description}}</button>
            </div>
         </div>
         <div class="error-text section">{{messages.general}}</div>
         <div class="section margin-top">
            <button class="btn btn-buy" (click)="openModal('invoice')">
               <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
               <span *ngIf="!loading">خرید</span>
            </button>
         </div>  
      </div> 
   </div>
</main>