<main class="main">
    <div class="box">
        <div class="box-header">
            <img class="box-header-img" src="../../../assets/images/icn_charge_color_24.svg" alt="شارژ موبایل"> شارژ
        </div>
        <div class="box-body" [ngClass]="{'rightel': operator=='Rightel', 'irancell': operator=='Mtn', 'mci': operator=='Mci'}">
            <div class="section margin-top">
                <div class="section-title">
                    <span class="dot"></span>
                    کد حساب‌داری سیستمی (عصر ویرا)
                </div>
                <div class="input-wrapper section">
                    <input class="input section-type" type="text"  id="invoice" (keydown)="preventKeydown($event)" required [(ngModel)]="invoiceCode"/>
                    <label class="input-label" for="invoice">
                            کد حساب‌داری سیستمی 
                    </label>
                </div>
            </div>
            <div class="error-text" *ngIf="messages.invoiceCode">{{messages.invoiceCode}}</div>
            <div class="section">
                <div class="section-title">
                    <span class="dot"></span>
                    اپراتور
                </div>
                <div class="section-type" >
                    <button class="btn options btn-type" [ngClass]="{'active': operator == item.value}" *ngFor="let item of operatorList; let i=index" (click)="operator = item.value">{{item.description}}</button>
                </div>
            </div> 
            <div class="section margin-top">
                <div class="error-text section" *ngIf="messages.general">{{messages.general}}</div>
                <button class="btn btn-buy" (click)="tracking()" [disabled]="loading">
                    <img class="loading-gif" src="../../../../assets/loading-white.gif" *ngIf="loading" alt="">
                    <span *ngIf="!loading">پیگیری</span>
                </button>
            </div>  
        </div> 
    </div>
</main>