<div class="login-sec">
    <div class="login-sec-content">
        <div class="login-sec-title">ورود به حساب </div>
        <div class="login-input-sec">
            <input class="input input-padding-right" [(ngModel)]="username" type="text" placeholder="نام کاربری">
            <img class="input-img input-img-login-position" src="../../../assets/images/icn_profile_blue_24.svg" alt="شارژ موبایل">
        </div>
        <div class="error-text section" *ngIf="messages.username">
            {{messages.username}}
        </div>
        <div class="login-input-sec">
            <input class="input input-padding-right" [(ngModel)]="password" type="password" placeholder="رمز عبور">
            <img class="input-img input-img-login-position" src="../../../assets/images/icn_lock_blue_24.svg" alt="شارژ موبایل">
        </div>
        <div class="error-text section" *ngIf="messages.password">
            {{messages.password}}
        </div>
        <div class="login-input-sec">
            <button class="btn btn-buy" (click)="login()" [disabled]="loading">
                <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
                <span *ngIf="!loading">ورود</span>
            </button>
        </div>
        
        <div class="error-text section" *ngIf="messages.general">
            {{messages.general}}
        </div>
        <!-- <div class="save-user-pass">
            <label for="saveUser" class="chechbox checkBox-login">
                    نام کاربری و رمز ورود ذخیره شود
                <input id="saveUser" type="radio" name="radio" checked>
                <span class="checkmark checkmark-login"></span>
            </label>
        </div> -->
        <div class="margin-top"><a class="login-sec-remember" target="_blank" href="https://my.asrevira.com/">رمز عبور را فراموش کردم</a></div>
        <div class="margin-remember"><a class="login-sec-remember" target="_blank" href="https://my.asrevira.com/portal@register">حساب کاربری ندارم</a></div>
        
    </div>
</div>