<aside class="aside">
    <div class="aside-content">
        <!-- <div class="aside-menu-icon">
        <img class="aside-menu-icon-img"  src="../../../assets/images/icn_menu_24.svg" alt="شارژ موبایل">
        </div> -->
        <ul class="aside-item-sec">
        <li class="aside-item" *ngIf="loggedIn()" [routerLink]="[ '/پروفایل' ]">
            <a class="aside-link"><img class="aside-img" src="../../../assets/images/icn_profile_24.svg" alt="شارژ موبایل"></a>
            <div>پروفایل</div>
        </li>
        <!-- <li class="aside-item" *ngIf="loggedIn()" [routerLink]="[ '/پروفایل' ]">
            <a class="aside-link"><img class="aside-img" src="../../../assets/images/icn_wallet_24.svg" alt="شارژ موبایل"></a>
            <div>کیف پول</div>
        </li> -->
        <li class="aside-item" [routerLink]="[ '/اینترنت' ]" routerLinkActive="aside-item-active">
            <a class="aside-link"><img class="aside-img" src="../../../assets/images/icn_charge_white_24.svg" alt="شارژ موبایل"></a>
            <div>بسته اینترنت</div>
        </li>
        <li class="aside-item" [routerLink]="[ '/شارژ' ]" routerLinkActive="aside-item-active">
            <a class="aside-link"><img class="aside-img" src="../../../assets/images/icn_data_white_24.svg" alt="شارژ موبایل"></a>
            <div>شارژ</div>
        </li>
        <li class="aside-item" [routerLink]="[ '/کارت-شارژ' ]" routerLinkActive="aside-item-active">
            <a class="aside-link"><img class="aside-img" src="../../../assets/images/icn_data_white_24.svg" alt="شارژ موبایل"></a>
            <div>کارت شارژ</div>
        </li>
        <li class="aside-item" *ngIf="loggedIn()" [routerLink]="[ '/تراکنش‌ها' ]">
            <a class="aside-link"><img class="aside-img" src="../../../assets/images/icn_transactions_24.svg" alt="شارژ موبایل"></a>
            <div>تراکنش‌ها</div>
        </li>
        <li class="aside-item">
            <a class="aside-link" target="_blank" href="https://asrevira.com/پشتیبانی/"><img class="aside-img" src="../../../assets/images/icn_support_24.svg" alt="شارژ موبایل"></a>
            <div>پشتیبانی</div>
        </li>
        </ul>
    </div>
</aside>