<app-header *ngIf="!isFromAndroid()"></app-header>
<app-modal></app-modal>
<div [@loading]="loading" *ngIf="GeneralService.loading" >
    <app-loading ></app-loading>
</div>
<div [@routeAnimations]="prepareRoute(outlet)" class="routeContainer container">
    <router-outlet (activate)="onActivate($event)" #outlet="outlet"></router-outlet>
</div>
<app-footer *ngIf="!isFromAndroid()"></app-footer>