<div class="modal-box">       
        <div class="modal-header">
            <div class="modal-header-title"> 
                <span class="close-modal">
                    <img src="../../../assets/images/icn_xcross_24.svg" (click)="closeModal()" alt="">
                </span>
                {{getHeaderTitle()}}
            </div> 
            <h1 class="head"> </h1>
        </div>
        <div class="modal-body">
            <!-- <div class="modal-body-sec modal-bg-dark">
                <div>شماره موبایل</div>
                <div>
                    <span></span>
                    <img class="operator-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل">
                        
                </div>
            </div> -->
            <div class="modal-body-sec" [ngClass]="{'modal-bg-dark': i%2 == 0}" *ngFor="let row of table; let i = index">
                <div>{{row.key}}</div>
                <div class="primary-color">{{row.value}}</div>
            </div>
    
    </div>