<app-products-menu></app-products-menu>
<div class="min-height-body" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet (activate)="onActivate($event)" #outlet="outlet"></router-outlet>
</div>

