<div class="box">
    <div class="box-header">
        <img class="box-header-img" src="../../../assets/images/icn_data_24.svg" alt="شارژ موبایل"> کارت شارژ
    </div>
    <div class="section">
        <div class="section-title">
            <span class="dot"></span>
            توجه
        </div>
        <div class="product-description error-text">
            کاربر گرامی لطفا کارت شارژ متناسب با اپراتور خود را انتخاب کنید که در صورت اشتباه وارد کردن هزینه کارت شارژ خریداری شده قابل برگشت نیست .
        </div>
    </div> 
    <div class="box-body" [ngClass]="{'rightel': operator=='Rightel', 'irancell': operator=='Mtn', 'mci': operator=='Mci'}">
        <div class="section">
            <div class="section-title">
                <span class="dot"></span>
                اپراتور
            </div>
            <div class="section-type" >
                <button class="btn options btn-type" [ngClass]="{'active': operator == item.value}" *ngFor="let item of operatorList; let i=index" (click)="operator = item.value">{{item.description}}</button>
            </div>
        </div> 
        <div class="section" *ngIf="prices[operator].length">
            <div class="section-title">
                <span class="dot"></span>
                مبلغ شارژ
            </div>
            <div class="box-row" *ngFor="let row of prices[operator]">
                <button *ngFor="let item of row" [ngClass]="{'active': amount == item}" class="btn options btn-price" (click)="selectItem(item)">{{ item.price | rialToToman | numberSeperator | persianNumber }} تومان</button>
            </div>
        </div>
        <div class="section margin-top">
            <div class="input-wrapper">
                <input class="input" type="number" min="1" step="1" (blur)="handleBlur($event)" (keydown)="preventType($event)" max="1000" maxlength="4" id="favoritePrice" required [(ngModel)]="count"/>
                <label class="input-label" for="favoritePrice">
                        تعداد کارت شارژ
                </label>
            </div>
        </div>
        <div class="box-sec margin-top">
            <button class="btn btn-buy" (click)="butChargeCode()" [disabled]="loading">
                <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
                <span *ngIf="!loading">خرید</span>
            </button>
        </div>
    </div>
</div>