<div class="internet-data">

    <div class="internet-data-header">

        <div class="section filters margin-input">
            <div class="">
                <input [ngClass]="{'error': messages.phoneNumber}" (change)="onChange(phoneNumber)" (click)="toggleBackground('phoneNumber')" class="input" type="text" maxlength="11" required [(ngModel)]="phoneNumber">
                <div class="select-background" *ngIf="background.phoneNumber" (click)="toggleBackground('phoneNumber')"></div>
                <div class="input-option-sec active" *ngIf="background.phoneNumber">
                    <ul class="list-style-type">
                        <li class="input-option-item position-relative" (click)="toggleBackground('phoneNumber');selectNumber(number);" *ngFor="let number of getFavoriteNumbers()" >
                        <div class="input-operator favoriteNumber irancell-color" *ngIf="getOperator(number) == 'Mtn'">
                            <img class="input-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل"> 
                        </div>
                        <div class="input-operator favoriteNumber mci-color" *ngIf="getOperator(number) == 'Mci'">
                            <img class="input-img" src="../../../assets/charge-hamrah.png" alt="شارژ موبایل"> 
                        </div>
                        <div class="input-operator favoriteNumber rightel-color" *ngIf="getOperator(number) == 'Rightel'">
                            <img class="input-img" src="../../../assets/charge-rightel.png" alt="شارژ موبایل"> 
                        </div>
                        <div>{{number}}</div>
                        </li>
                    </ul>
                </div>
                <label (click)="toggleBackground('phoneNumber')" class="input-label" for="phoneNumber">شماره موبایل</label>
                <div (click)="toggleBackground('phoneNumber')" class="input-operator internet-input irancell-color" *ngIf="operator == 'Mtn'">
                    <img class="input-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل"> 
                </div>
                <div (click)="toggleBackground('phoneNumber')" class="input-operator internet-input mci-color" *ngIf="operator == 'Mci'">
                    <img class="input-img" src="../../../assets/charge-hamrah.png" alt="شارژ موبایل"> 
                </div>
                <div (click)="toggleBackground('phoneNumber')" class="input-operator internet-input rightel-color" *ngIf="operator == 'Rightel'">
                    <img class="input-img" src="../../../assets/charge-rightel.png" alt="شارژ موبایل"> 
                </div>
                <img *ngIf="!operator" class="input-img input-img-position" src="../../../assets/images/icn_contact_24.svg" alt="شارژ موبایل">
            </div> 
        </div>
        <div class="section filters margin-input" *ngIf="getSimtypes().length">
            <div class="select-background" *ngIf="background.simtype" (click)="toggleBackground('simtype')"></div>
            <input class="input input-option" readonly type="text" (click)="toggleBackground('simtype')" placeholder="نوع سیم‌کارت" [value]="simtype.description"/>
            <img class="input-img input-img-position" src="../../../assets/images/icn_drop_down_arrow_24.svg" alt="نوع سیم‌کارت"/>
            <div class="input-option-sec active" *ngIf="background.simtype">
                <ul class="list-style-type">
                    <li class="list-style-type" (click)="toggleBackground('simtype');filterSimType('all');"></li>
                    <li class="input-option-item" (click)="toggleBackground('simtype');filterSimType(type);" *ngFor="let type of getSimtypes()" >{{type.description}}</li>
                </ul>
            </div>
        </div>
        <div class="section filters margin-input">
            <div class="select-background" *ngIf="background.packagePeriod" (click)="toggleBackground('packagePeriod')"></div>
            <input class="input input-option" readonly (click)="toggleBackground('packagePeriod')" type="text" placeholder="مدت بسته" [value]="persianInternetPackage()"/>
            <img class="input-img input-img-position" src="../../../assets/images/icn_drop_down_arrow_24.svg" alt="مدت بسته"/>
            <div class="input-option-sec active" *ngIf="background.packagePeriod">
                <ul class="list-style-type">
                    <li class="input-option-item" (click)="toggleBackground('packagePeriod');filterPeriod('all')">همه</li>
                    <li class="input-option-item" (click)="toggleBackground('packagePeriod');filterPeriod(internet_package.name)" *ngFor="let internet_package of internet_packages">{{internet_package.persianDescription}}</li>
                </ul>
            </div>
        </div>
        <!-- <div class="section filters margin-input">
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
        </div> -->

    </div>
    <div class="internet-data-body">
        <div *ngFor="let internet_package of filterPackage()" class="w-100" >
            <div *ngIf="internet_package.packages.length">
                <div class="internet-data-title" [ngClass]="{'Mci': operator == 'Mci', 'Mtn': operator == 'Mtn', 'Rightel': operator == 'Rightel'}">
                    <div>{{internet_package.persianDescription}}</div>
                </div>
                <div class="internet-data-show">
                    <div class="internet-data-show-sec" *ngFor="let item of internet_package.packages">
                        <div class="justify-between">
                            <div class="internet-show-item">
                                <svg class="internet-show-img" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00001 2C9.00001 1.44772 9.44772 1 10 1H14C14.5523 1 15 1.44772 15 2C15 2.55228 14.5523 3 14 3H10C9.44772 3 9.00001 2.55228 9.00001 2ZM6.99987 5.51677C8.47991 4.52784 10.22 4 12 4H12.003C14.0512 4.00612 16.0259 4.70839 17.6106 5.97521L18.2929 5.29289C18.6834 4.90237 19.3166 4.90237 19.7071 5.29289C20.0976 5.68342 20.0976 6.31658 19.7071 6.70711L19.0248 7.38942C20.2916 8.97411 20.9939 10.9488 21 12.997L21 13C21 14.78 20.4722 16.5201 19.4832 18.0001C18.4943 19.4802 17.0887 20.6337 15.4441 21.3149C13.7996 21.9961 11.99 22.1743 10.2442 21.8271C8.49836 21.4798 6.89471 20.6226 5.63604 19.364C4.37736 18.1053 3.5202 16.5016 3.17294 14.7558C2.82567 13.01 3.0039 11.2004 3.68509 9.55585C4.36628 7.91131 5.51983 6.50571 6.99987 5.51677ZM11.9985 6C10.6145 6.0003 9.26173 6.41082 8.11101 7.17971C6.95987 7.94888 6.06266 9.04213 5.53285 10.3212C5.00303 11.6003 4.86441 13.0078 5.13451 14.3656C5.4046 15.7235 6.07129 16.9708 7.05025 17.9497C8.02922 18.9287 9.2765 19.5954 10.6344 19.8655C11.9922 20.1356 13.3997 19.997 14.6788 19.4672C15.9579 18.9373 17.0511 18.0401 17.8203 16.889C18.5891 15.7383 18.9997 14.3856 19 13.0017C18.9941 11.1466 18.2546 9.36906 16.9428 8.05725C15.631 6.74548 13.8536 6.00593 11.9985 6ZM11 8.2C11 7.64771 11.4477 7.2 12 7.2C12.5523 7.2 13 7.64771 13 8.2V12.9858L14.9071 14.8929C15.2976 15.2834 15.2976 15.9166 14.9071 16.3071C14.5166 16.6976 13.8834 16.6976 13.4929 16.3071L11.2929 14.1071C11.1054 13.9196 11 13.6652 11 13.4V8.2Z" fill="#919499"/>
                                </svg>
                                <span>مدت زمان بسته:‌ </span>
                                {{internet_package.duration}}
                            </div>
                            <div class="internet-show-item color" [ngClass]="{'Mci': operator == 'Mci', 'Mtn': operator == 'Mtn', 'Rightel': operator == 'Rightel'}">{{item.billAmount | rialToToman | numberSeperator | persianNumber}} تومان</div>
                        </div>
                        <div>
                            <div class="internet-show-item">
                                <svg class="internet-show-img" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.08141 21.6457C5.65598 22.2272 6.58879 22.2272 7.16336 21.6457L11.8127 16.9404C12.7335 16.0085 12.0874 14.4056 10.7717 14.4056L8.81886 14.4056L8.81887 4.72602C8.81887 3.22325 7.61435 2 6.12236 2C4.63036 2 3.42585 3.22325 3.42585 4.72602L3.42584 14.4056H1.47304C0.157392 14.4056 -0.488717 16.0085 0.432059 16.9404L5.08141 21.6457ZM2.05931 16.136L3.91695 16.136C4.59322 16.136 5.14145 15.5877 5.14145 14.9115L5.14145 4.72602C5.14145 4.17336 5.58337 3.73036 6.12236 3.73036C6.66134 3.73036 7.10326 4.17336 7.10326 4.72602L7.10326 14.9115C7.10326 15.5877 7.65149 16.136 8.32776 16.136H10.1855L6.12239 20.2479L2.05931 16.136ZM18.9186 2.43612C18.344 1.85463 17.4112 1.85463 16.8366 2.43612L12.1873 7.14143C11.2665 8.07329 11.9126 9.67623 13.2283 9.67623L15.1811 9.67623L15.1811 19.3558C15.1811 20.8586 16.3856 22.0818 17.8776 22.0818C19.3696 22.0818 20.5741 20.8586 20.5741 19.3558L20.5741 9.67623L22.527 9.67623C23.8426 9.67623 24.4887 8.07329 23.5679 7.14143L18.9186 2.43612ZM21.9407 7.94587L20.083 7.94587C19.4068 7.94587 18.8585 8.4941 18.8585 9.17037L18.8585 19.3558C18.8585 19.9085 18.4166 20.3515 17.8776 20.3515C17.3386 20.3515 16.8967 19.9085 16.8967 19.3558L16.8967 9.17037C16.8967 8.4941 16.3485 7.94587 15.6722 7.94587H13.8145L17.8776 3.83389L21.9407 7.94587Z" fill="#919499"/>
                                </svg>
                                {{item.title}}
                            </div>
                        </div>
                        <div>
                            <div class="internet-show-item">
                                <span>نوع سیم‌کارت: </span>
                                {{getSimType(item.type)}}
                            </div>
                        </div> 
                        <div class="text-align">
                            <div class="internet-show-item button">
                                <button class="btn-buy-small" [ngClass]="{'Mci': operator == 'Mci', 'Mtn': operator == 'Mtn', 'Rightel': operator == 'Rightel'}" (click)="buyPackage(item, internet_package)" >خرید</button>
                                <div class="align-center">
                                    <div class="irancell-color align-center" *ngIf="operator == 'Mtn'">
                                        <span>ایرانسل</span> 
                                        <img class="input-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل"> 
                                    </div>
                                    <div class="mci-color align-center" *ngIf="operator == 'Mci'">
                                        <span>همراه اول</span> 
                                        <img class="input-img" src="../../../assets/charge-hamrah.png" alt="شارژ موبایل"> 
                                    </div>
                                    <div class="rightel-color align-center" *ngIf="operator == 'Rightel'">
                                        <span>رایتل</span> 
                                        <img class="input-img" src="../../../assets/charge-rightel.png" alt="شارژ موبایل"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <app-emptystate *ngIf="showEmptyState()"></app-emptystate>


</div>