<div id="modal" class="modal container_secondary" (click)="closeModal(component)" *ngIf="isModalOpen()" [@modal]="isModalOpen()">
    <div class="relative modal-relative" (click)="closeModal(component)">
        <ndc-dynamic [ndcDynamicComponent]="component" ></ndc-dynamic>
    </div>
</div>
