*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

html {
	font-size: 62.5%
}

@media only screen and (max-width: 75em) {
	html {
		font-size: 56.25%
	}
}

@media only screen and (max-width: 56.25em) {
	html {
		font-size: 50%
	}
}

@media only screen and (min-width: 112.5em) {
	html {
		font-size: 75%
	}
}

body {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3rem
}

@media only screen and (max-width: 56.25em) {
	body {
		padding: 0
	}
}

::-moz-selection {
	background-color: #40c4cc;
	color: #fff
}

::selection {
	background-color: #40c4cc;
	color: #fff
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777
}

.composition:hover .composition__photo:not(:hover) {
	-webkit-transform: scale(0.95);
	transform: scale(0.95)
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
}

@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
}

@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
}

.navigation__checkbox {
	display: none
}

.navigation__button {
    background-color: transparent;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 8px;
    right: 16px;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 14px;
}

@media only screen and (max-width: 37.5em) {
	.navigation__button {
		top: 4px;
		right: 16px
	}
}

.navigation__background {
	height: 0;
	width: 0;
	border-radius: 50%;
	position: fixed;
	background-image: radial-gradient(#40c4cc, #40c4cc);
	z-index: 1000;
	-webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), all 0.8s cubic-bezier(0.86, 0, 0.07, 1)
}


@media only screen and (max-width: 37.5em) {
	.navigation__background {
		top: 14px;
        right: 18px;
	}
}

.navigation__nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	-webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background: transparent
}

.navigation__list {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%
}

.navigation__item {
	margin: 1rem;
	cursor: pointer;
}
.navigation__link,
.navigation__link:link,
.navigation__link:visited {
	display: inline-flex;
    align-items: center;
    justify-content: center;
	font-size: 20px;
	font-weight: 300;
	padding: 8px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-size: 240%;
	-webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 2px;
}
.align-center{
    display: flex;
    align-items: center;
}
.navigation__link:link span,
.navigation__link:visited span {
	margin-right: 1.5rem;
	display: inline-block
}

.navigation__link:hover,
.navigation__link:active {
	background-position: 100%;
	background-color: rgba(#ffffff, 0.8);
	color: #40c4cc;
	-webkit-transform: translateX(1rem);
	transform: translateX(1rem)
}

.navigation__checkbox:checked~.navigation__background {
	width: 40px;
	height: 40px;
	-webkit-transform: scale(70);
	transform: scale(70);
}

.navigation__checkbox:checked~.navigation__nav {
	opacity: 1;
	width: 100%
}

.navigation__icon {
	position: relative;
	margin-top: 50%
}

.navigation__icon::before,
.navigation__icon::after {
	width: 20px;
	height: 2px;
	background-color: #40c4cc;
    display: inline-block;
    border-radius: 2px;
}

.navigation__icon::before,
.navigation__icon::after {
	content: "";
	position: absolute;
	left: 0;
	-webkit-transition: all .2s;
	transition: all .2s
}

.navigation__icon::before {
	top: 0
}

.navigation__icon::after {
	top: 8px
}

.navigation__button:hover .navigation__icon::before {
	top: 0
}

.navigation__button:hover .navigation__icon::after {
	top: 8px
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
	background-color: transparent
}
.navigation__checkbox:checked+.navigation__button {
}
.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
	top: 4px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	background: #fff

}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
	top: 4px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	background: #fff

}
.navigation__checkbox:checked+.navigation__button img{
    transform: scale(.8) rotate(360deg);
    transition: all .8s ease-in-out
}
img{
    width: 100%;
    padding: 12px;
    transition: all .8s ease-in-out
}

@media screen and (min-width:992px){
	.navigation__button{
		display: none;
	}
}