<div class="navigation">
        <input type="checkbox" #checkbox class="navigation__checkbox" id="navi-toggle">
      
        <label for="navi-toggle" class="navigation__button">
              <span class="navigation__icon">&nbsp;</span>
        </label>
      
        <div class="navigation__background">&nbsp;</div>
      
        <nav class="navigation__nav">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link" target="_blank" href="https://my.asrevira.com" *ngIf="hasSid()"> برگشت به ناحیه کاربری </a>
              </li>
              <li class="navigation__item" *ngIf="loggedIn()" (click)="checkbox.checked=false">
                <a class="navigation__link" [routerLink]="[ '/پروفایل' ]">
                  <div class="align-center">
                    <img src="../../../assets/images/icn_profile_24.svg" alt="">
                  </div>
                  پروفایل
                </a>
              </li>
              <li class="navigation__item" *ngIf="loggedIn()" (click)="checkbox.checked=false">
                <a class="navigation__link" [routerLink]="[ '/تراکنش‌ها' ]">
                  <div class="align-center">
                    <img src="../../../assets/images/icn_transactions_24.svg" alt="">
                  </div>
                  تراکنش‌ها
                </a>
              </li>
              <li class="navigation__item"  (click)="checkbox.checked=false">
                <a class="navigation__link" [routerLink]="[ '/شارژ' ]">
                  <div class="align-center">
                    <img src="../../../assets/images/icn_charge_white_24.svg" alt="">
                  </div>
                  شارژ مستقیم
                </a>
              </li>
              <li class="navigation__item" (click)="checkbox.checked=false">
                <a class="navigation__link" [routerLink]="[ '/کارت-شارژ' ]">
                  <div class="align-center">
                    <img src="../../../assets/images/icn_charge_white_24.svg" alt="">
                  </div>
                  کارت شارژ
                </a>
              </li>
              <li class="navigation__item" (click)="checkbox.checked=false">
                <a class="navigation__link" [routerLink]="[ '/اینترنت' ]">
                  <div class="align-center">
                    <img src="../../../assets/images/icn_data_white_24.svg" alt="">
                  </div>
                  بسته اینترنت
                </a>
              </li>
              <li class="navigation__item" (click)="checkbox.checked=false"><a class="navigation__link" [routerLink]="[ '/شارژ/پیگیری' ]">پیگیری خرید شارژ مستقیم</a></li>
              <li class="navigation__item" *ngIf="loggedIn()" (click)="logout()"><a class="navigation__link" >خروج</a></li>
              <li class="navigation__item" *ngIf="!loggedIn()" (click)="checkbox.checked=false"><a [routerLink]="['/ورود']" class="navigation__link">ورود یا ثبت‌نام</a></li>
              <li class="navigation__item" *ngIf="!loggedIn()"><a target="_blank" href="https://asrevira.com/تماس-با-ما/" class="navigation__link">تماس با ما</a></li>
              <li class="navigation__item" *ngIf="!loggedIn()"><a target="_blank" href="https://asrevira.com/درباره-عصرویرا/" class="navigation__link">درباره ما</a></li>
              <li class="navigation__item" *ngIf="!loggedIn()"><a target="_blank" href="https://asrevira.com/پشتیبانی/" class="navigation__link">پشتیبانی</a></li>
            </ul>
        </nav>
      </div>