/* General Styles */
@import './app/styles/bootstrap/bootstrap-grid.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    outline: none;
}

@font-face{
    font-family: vazir;
    src: url('./assets/Vazir.woff') 
    format('woff'),
    url('./assets/Vazir.ttf')
    format('truetype');
    font-weight: normal;
}
.mat-simple-snackbar{
    span{
        direction: rtl;
        text-align: right
    }
}
.mat-snack-bar-container{
    background: #37A7AE;
    color: #fff;
}
hr{
    border-top: none;
    border-color: #eee;
}
body{
    position: relative;
    overflow-x: hidden;
    direction: rtl;
    background: #FBFBFB;;
    font-size: 16px;
}
.select-background{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    z-index: 199;
    
}
body,input,button{
    font-family: vazir !important;
}



/* reset default styles */

a{
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
    outline: none;
}

::selection{
    background: #37A7AE;
    color: #fff;
}

::-moz-selection{
    background: #37A7AE;
    color: #fff; 
}

input[type='number'] ::-webkit-inner-spin-button, 
input[type='number'] ::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type='number']{
    -moz-appearance: textfield;
}

.margin-top{
    margin-top: 30px!important;
}

.z-index{
    z-index: 900;
}

.list-style-type{
    list-style-type: none;
}

.pointer{
    cursor: pointer;
}

.green-color{
    color:  #4CC57C !important;
}

.margin-left{
    margin-left: 10px;
}

/* reset btn styles */
button{
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn{
    text-align: center;
    height: 48px;
}

.btn:hover{
}

.btn-hidden{
    visibility: hidden;
}

/* checkBox */  
.chechbox {
    display: block;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}
  
  /* Hide the browser's default radio button */
.chechbox input {
position: absolute;
opacity: 0;
cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 21px;
width: 21px;
margin-top: 5px;
background-color: transparent;
border-radius: 50%;
border:  1px solid #37A7AE;
}

/* On mouse-over, add a grey background color */
.chechbox:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.chechbox input:checked ~ .checkmark {
background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.chechbox input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.chechbox .checkmark:after {
    top: 3px;
    left: 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #37A7AE;
}




/* aside */
.aside{
    position: fixed;
    top: 62px;
    right: 0;
    width: 62px;
    height: 100%;
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    text-align: center;
    background: #40C4CC;   
    z-index: 200;

}

.aside-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-menu-icon{
    width: 100%;
    height: 62px;
    background: #37A7AE;
}

.aside-menu-icon-img{
    padding-top: 15px;
    cursor: pointer;
}

.aside-item-sec{
    color: #37A7AE;
    font-size: 10px;
    width: 100%;
    margin-top: 10px;
}

.aside-item{
    margin-top: 25px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.aside-item-active{
    border-left: 3px solid #fff
}

.aside-link{
    padding-top: 5px;
    font-size: 16px;
    color: #3E3D48;
    opacity: 0.9;
}

.aside-img{
    cursor: pointer;
    vertical-align: middle;
}


/* aside overly */
.aside-overly{
    position: fixed;
    top: 60px;
    right: 4%;
    width: 250px;
    height: 100vw;
    z-index: 1000;
    padding: 10px;
    background: #fff;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px 0px 0px 0px;
}

.profile-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-img-nav{
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.loading-gif{
    height: 100%;
}
.profile-info{
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    &.full{
        align-items: center;
        justify-content: center
    }
}

.profile-name{
    font-size: 16px;
    color: #37A7AE
}

.profile-number{
    color: #000000;
    opacity: 0.6;
    font-size: 12px;
    margin: 5px 0;
}

.profile-credit{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.img-plus{
    vertical-align: middle;
    cursor: pointer;
}
.img-wallet{
    max-width: 24px;
    margin: 0 4px;
}

.profile-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    /* border: 1px solid #d0d5dd; */
}

.aside-overly-product{
    margin: 5px 0;
    font-size: 12px;
    color: #3E3D48;
    opacity: 0.6; 
}

.aside-overly-link-active{
    color: #37A7AE
}


/* navigation */
.nav-sec{
    position: fixed;
    width: 100%;
    min-height: 62px;
    z-index: 1000;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px; 
    align-content: center;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right-sec{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-right-item{
    padding: 0 10px;
}

.nav-right-link{
    font-size: 13px;
    color: #37A7AE
}

.nav-right-item-logo{
    display: inline-block;
    vertical-align: middle
}

.nav-right-logo{
    font-size: 18px;
    color: #287A80;
    padding: 0 15px;
}

.nav-right-logo-img{
    width: 60px;
}

.nav-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn-hamburger-menu{
    display: none;
}

.btn-register{
    font-size: 16px;
    color: #37A7AE
}

.btn-login{
    width: 90px;
    height: 35px;
    background: #FFFFFF;
    color: #37A7AE;
    border: 1.5px solid #37A7AE;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(55, 167, 174, 0.24);
    border-radius: 24px;
    font-size: 16px;
    margin-right: 20px;
}

.btn-open-wallet{
    display: none;
}

.nav-responsive{
    display: none
}

.nav-responsive-item-logo{
    display: inline-block;

}

.responsive-sec-logo{
    display: flex;
    align-items: center;
}
.min-height-body{
    min-height: calc(100vh - 196px);
}

/* main */
.main{
    display: flex;
    flex-direction: column
}

.box{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.box-header{
    margin-bottom: 8px;
    width: 100%;
    color: #37A7AE;
    font-size: 18px;
}
.tracking{
    position: absolute;
    left: 0;
    cursor: pointer;
}

.box-header-img{
    vertical-align: top;
    margin-left: 8px;
    max-width: 24px;
}

.box-body{
    padding: 0 20px;
}

.transaction-operator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        max-width: 40px;
        margin: 0px 4px;
    }
}

.input{
    width: 100%;
    height: 56px;
    padding: 10px 16px;
    border: 1px solid rgba(51, 51, 51, 0.54);
    border-radius: 28px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    text-align: right;
}

.text-center{
    text-align: center;
}

.section{
    position: relative;
    margin: 8px 0;
    flex: 1;
    flex-wrap: wrap;
}
.section.filters{
    margin: 8px;
}

.position-relative{
    position: relative;
}
.submit-refid{
    margin-right: 8px;
    min-width: 100px;
}

.input-label{
    position: absolute;
    top: 16px;
    right: 12px;
    padding: 0px 4px;
    cursor: text;
    background: #FFFFFF;
    color: #d3d3d3;
    font-size: 16px;
    text-align: center;
    transition: 0.2s all;
}

.input-img{
    width: 36px;
    margin-right: 8px;
}

.input-img-position{
    position: absolute;
    left: 16px;
    top: 18px;
    width: 20px
}

.input-operator{
    display: flex;
    justify-content: space-around;
    min-width: 100px;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    font-weight: bold;
    span{
        @media screen and (max-width: 420px) {
            display: none;
        }
    }
    &.internet-input{
        justify-content: flex-end;
        align-items: center;
    }
    &.favoriteNumber{
        top: 4px;
        align-items: center
    }
}
.modal-row{
    width: 100%;
    padding: 15px;
}
.rightel-color{
    color: #BE29B2;
}

.irancell-color{
    color:  #FFCC00;
}

.mci-color{
    color:  #5AC8FA;
}

.input:focus{
    border: 1px solid #37A7AE;
}

.input:focus ~ .input-label,.input:valid ~ .input-label{
    font-size: 12px;
    top: -10px;
    color: #37A7AE;
    padding: 0 4px;
}

.input:invalid{
    box-shadow: none
}

.input.error{
    border: 1px solid rgba(251, 0, 0, 0.8);
}
.d-flex{
    display: flex;
}
.section-title{
    color: #3E3D48;
    font-size: 12px;
    margin-top: 20px;
    padding: 4px;
}

.dot{
    height: 10px;
    width: 10px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    border-radius: 50%;
    border: 3px solid #37A7AE;
}

.section-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.box-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-type{
    padding: 12px 0px;
    flex: 1;
    margin: 0 4px;
    font-size: 12px;
    font-weight: bold;
    background: #FFFFFF;
    color: #000000;
    margin-top: 8px;
    border: 1px solid #3E3D48;
    border-radius: 30px;
}
.btn.options:hover{
    background: rgba(64, 196, 204, 0.1);
    border: 1px solid #40c4cc;
}
.btn.options.active{
    background: #40c4cc;
    border: 1px solid #40c4cc;
    color: #fff
}
.rightel .btn.options:hover{
    background: rgba(190, 41, 178, 0.2);
    border: 1px solid #BE29B2;
}
.irancell .btn.options:hover{
    background: rgba(255, 204, 0, 0.2);
    border: 1px solid #FFCC00;
}
.mci .btn.options:hover{
    background: rgba(90, 200, 250, 0.2);
    border: 1px solid #5AC8FA;
}

.rightel .btn.options.active{
    background: #BE29B2;
    border: 1px solid #BE29B2;
    box-shadow: 0px 4px 10px rgba(190, 41, 178, 0.2);
    color: #FFFFFF;
}

.irancell .btn.options.active{
    background: #FFCC00;
    border: 1px solid #FFCC00;
    box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.2);
    color: #000;
}

.mci .btn.options.active{
    background: #5AC8FA;
    border: 1px solid #5AC8FA;
    box-shadow: 0px 4px 10px rgba(90, 200, 250, 0.2);
    color: #FFFFFF;
}
.rightel > .btn.options.active{
    background: #BE29B2;
    border: 1px solid #BE29B2;
    box-shadow: 0px 4px 10px rgba(190, 41, 178, 0.2);
    color: #FFFFFF;
}

.irancell > .btn.options.active{
    background: #FFCC00;
    border: 1px solid #FFCC00;
    box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.2);
    color: #000;
}

.mci > .btn.options.active{
    background: #5AC8FA;
    border: 1px solid #5AC8FA;
    box-shadow: 0px 4px 10px rgba(90, 200, 250, 0.2);
    color: #FFFFFF;
}

.btn-price{
    margin: 0 4px;
    flex: 1;
    padding: 12px 0px;
    font-size: 12px;
    background: #FFFFFF;
    margin-top: 8px;
    border: 1px solid #3E3D48;
    border-radius: 48px;
}

// .btn-price:hover{
//     background: rgba(64, 196, 204, 0.2);
//     border: 0.5px solid #40C4CC;
// }

// .btn-price.selected{
//     background: #40C4CC;
//     color: #FFFFFF;
//     border: 0.5px solid #40C4CC;
// }

.btn-buy{
    width: 100%;
    background: #4CC57C;
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(85, 218, 130, 0.5);
    border-radius: 24px;
}

.btn-disable{
    color: #000000;
    background: #CBCBCB;
    box-shadow: none;
}


/* downloadApp */

.downloadApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: auto
}

.downloadApp-title{
    font-size: 14px;
    color:  #3E3D48;
    padding: 20px 0
}

.downloadApp-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.downloadApp-link{
    margin: 0 5px
}


/* footer */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 10px;
    background:  #FFFFFF;
    border-top: 1px solid #CBCBCB;
    z-index: 200;
}

.footer-nav,.footer-main{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.footer-nav-sec{
    margin-top: 15px;
}

.footer-nav-item{
    display: inline-block;
    padding: 2px 8px;
}


.footer-logo-img{
    vertical-align: middle
}

.footer-logo-title{
    color: #37A7AE;
    font-size: 18px;
}

.email-link{
    vertical-align: 5px;
    color: #919499;
    font-size: 14px;
}

.footer-main-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 92px;
}

.footer-main-left{
    text-align: left;
    img{
        max-width: 100px;
    }
}

.product-description error-text{
    font-size: 12px;
    padding: 20px;
}

.transaction-description{
    max-width: 70%;
    text-align: left;
}

.footer-menu{
    list-style-type: none;
    padding-left: 30px;
}

.footer-menu-link{
    font-size: 12px;
    color: #37A7AE;
}

.footer-description{
    color: #919499;
    font-size: 10px;
}

.footer-changeColor{
    color: #287A80
}

.description{
    font-size: 14px;
    color: #287A80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text-blue{
    color: #287A80;
    font-size: 14px;

}
/* modal */
.modal{
    width: 100%;
    height: 100%;
    z-index: 900;
    padding: 20px;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    opacity: 1;
    display: flex;
    justify-content: center;
}
.backToApp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    width: calc(100% - 20px);
}
.modal-sandbox{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent; 
}
.modal-relative{
    width: 100%;
    max-width: 480px;
}
.no-margin{
    margin: 0 auto !important;
}
.modal-box{
    position: relative;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    z-index: 900;
    margin: 90px auto 15px
}

.modal-header{
    padding: 0 15px;
    margin-bottom: 15px;
}

.modal-header-title{
    font-size: 16px;
    color: #000000;
    display: flex;
    align-items: center;
}

.close-modal{
    width: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    margin-left: 12px;
    vertical-align: top;
    justify-content: center;
    align-items: center;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center
}

.modal-body-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    flex-wrap: wrap;
}

.modal-bg-dark{
    background: #FAFAFA;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08)
}

.primary-color{
    color: #37A7AE
}

.modal-body .operator-img{
    vertical-align: middle
}

.payment-method{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
}

.btn-payment-method{
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    justify-content: center;
    border-bottom: 1px solid #CBCBCB;
}

.btn-payment-method-active{
    color: #37A7AE !important;
    border-bottom:  3px solid #37A7AE !important;
}

.payment-checkBox{
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0 28px;
    align-items: center;
}

.payment-checkbox-sec{
    display: flex;
    width: 100%;
    padding: 28px;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color:  #3E3D48;
}




.transaction-sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
}

.transaction-sec-right{
    width: 30%;
    padding: 18px 12px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.no-zindex{
    z-index: 0;
}

.sec-right-head{
    font-size: 14px;
    font-weight: bold;
    color: #3E3D48;
}

.sec-right-title{
    font-size: 14px;
    color: #292933;
    margin-top: 15px;
    margin-bottom: 10px;
}

.filter-sec{
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

.btn-filter{
    padding: 8px 0px;
    font-size: 12px;
    flex: 1;
    background: #FFFFFF;
    color: #000000;
    margin-top: 8px;
    border: 1px solid #3E3D48;
    border-radius: 30px;
    margin: 0 4px;
}

.btn-filter-sctive{
    background: #37A7AE;
    color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(55, 167, 174, 0.2); 
    border: 1px solid #37A7AE;
}

.transaction-sec-left{
    width: 67%;
    display: flex;
    flex: 1;
    margin: 0 20px;
    flex-direction: column;
}

.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 15px ;
}

.card-right-title{
    font-size: 16px;
    color: #292933;
    opacity: 0.87;
    display: flex;
}

.card-right-info{
    font-size: 12px;
    color: #919499;
    margin-right: 30px;
    display: flex;
    padding: 8px 0;
}

.card-right-info > *{
    margin: 0 4px;
}

.card-left-price{
    color: #37A7AE;
    opacity: 0.87;
    font-size: 14px;
}

.card-left-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    font-size: 12px;
    color: #3E3D48
}

.card-margin-top{
    margin-top: 15px;
}
.card-margin-bottom{
    margin-bottom: 15px;
}
.btn-login-fullWidth,.btn-filter-fullWidth{
    width: 100%;
    height: 40px;
    background: #37A7AE;
    color: #fff;
    box-shadow: 0px 3px 6px rgba(55, 167, 174, 0.5);
    border-radius: 24px;
    margin-top: 22px;
}
.btn-filter-transaction{
    position: relative;
    display: none;
    width: 30%;
    height: 40px;
    margin-bottom: 15px;
    background: #FFFFFF;
    color: #37A7AE;;
    border: 1px solid #37A7AE;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(55, 167, 174, 0.24);
    border-radius: 24px;
    font-size: 16px;
}
.p-20{
    padding: 20px;
}
.btn-filter-img{
    position: absolute;
    left: 5%;
    vertical-align: middle
}

.payment-checkbox-sec img{
    width: 130px;
}

.error-payment{
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    color: #FF3B30;
    opacity: 0.9;
}
.error-text{
    color: #FF3B30;
    font-size: 14px;
}

.success-payment{
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
    img{
        width: 40px;
        height: 40px;
    }
}

.modal-footer{
    padding: 0 10px;
}

.section-span{
    padding: 8px 4px 6px;
}

.cursorPointer{
    cursor: pointer;
}

.input-option-sec{
    display: none;
    margin-top: 5px;
    padding: 10px;
    top: 56px;
    color: #343436;
    opacity: 0.9;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.24), 0px 24px 48px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    position: absolute;
    width: 100%;
    z-index: 200;
    opacity: 1;
}

.input-option{
    cursor: pointer;
}

.input-option-item{
    cursor: pointer;
    transition: all 0.3s;
    &:not(:first-child){
        border-top: 1px solid #eee;
    }
    padding: 10px;
    border-radius: 8px;
}

.input-option-item:hover{
    background-color: rgba(55, 167, 174, 0.1);
    transition: all 0.3s
}



.input-option-sec.active{
    display: block
}

.input-option-img{
    float: left;
}

.internet-data{
    width: 100%;
    display: flex;
    padding-right: 62px;
    flex-direction: column;
    justify-content: center;
}

.internet-data-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 10px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    width: 100%;
}

.margin-input{
    margin: 8px 0;
}

.internet-data-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    width: 100%;

}

.internet-data-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    color: #fff;
    border-radius: 18.5px 18.5px 0px 18.5px; 
    &.Mtn{
        background: #FFCC00;
    }
    &.Mci{
        background: #5AC8FA;
    }
    &.Rightel{
        background: #BE29B2;
    }
}

.internet-btn-img{
    vertical-align: middle
}

.internet-data-show{
    display: flex;
    justify-content: right;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.align-center{
    display: flex;
    align-items: center;
}
.flex-column{
    flex-direction: column;
    display: flex;   
}
.justify-between{
    display: flex;
    justify-content: space-between;
}
.justify-center{
    display: flex;
    justify-content: center;
}

.w-100{
    width: 100%;
}

.internet-data-show-sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    min-width: 30%;
    margin: 15px 10px;
    padding: 16px 12px;
    background: #FFFFFF;
    color: #343436;;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    font-size: 16px;
}

.internet-show-item{
    padding: 10px 0 0 0;
}
.internet-show-item.button{
    display: flex;
    justify-content: space-between;
}

.internet-show-img{
    vertical-align: middle;
    margin-left: 5px;
}
.btn-buy-small{
    width: 50%;
    box-shadow: 0px 2px 4px rgba(85, 195, 140, 0.24);
    border-radius: 24px;
    background: #FFFFFF;
    height: 48px;
    &.Mtn{
        border: 1.5px solid #FFCC00;
        color: #FFCC00;
    }
    &.Mci{
        border: 1.5px solid #5AC8FA;
        color: #5AC8FA;
    }
    &.Rightel{
        border: 1.5px solid #BE29B2;
        color: #BE29B2;
    }
    
}
.color{
    &.Mtn{
        color: #FFCC00;
    }
    &.Mci{
        color: #5AC8FA;
    }
    &.Rightel{
        color: #BE29B2;
    }
}

/* responsive */
@media screen and (max-width:1380px){
    .nav{
        width: 94%
    }
}

@media screen and (max-width:992px){
    .responsive-sec-logo{
        display: none;
    }
    .loggedIn{
        display: none;
    }
    .aside{
       display: none
    }

    .aside-overly{
        display: none
    }

    .btn-login,.btn-register{
        display: none
    }
    .nav{
        width: 100%
    }
    .nav-right-logo-sec{
        display: none;
    }
    .nav-right-sec{
        display: none
    }
    .nav-responsive{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        position: relative;
    }
    .btn-open-wallet{
        display: block;
    }
    .btn-hamburger-menu{
        display: inline-flex
    }
    
    .btn-filter-transaction{
        display: block;
    }
}

@media screen and (max-width:768px){
   
    .modal-box{
        width: 100%
    }
    .box{
        width: 100%;
        padding: 20px 15px;
    }
    .box-body{
        padding: 0;
    }
    .downloadApp{
        display: none;
    }
    .btn-price{
        width: 30%;
        margin: 0 4px;
    }
    .btn-type{
        width: 45%
    }
    .footer-nav{
        flex-direction: column;
        align-items: center;
    }
    .footer-main{
        flex-direction: column;
        align-items: center;
    }
    .footer-menu{
        padding: 0;
    }

    .footer-main-right{
        flex-direction: column;
        margin-right: 0;
        text-align: center
    }

    .footer-main-left{
        text-align: center
    }
    .transaction-sec-right{
        width: 100%;
        margin-bottom: 20px;
    }
    .transaction-sec-left{
        width: 100% ;
        margin: 0;
    }

}

@media screen and (max-width:480px){
    .op-desc{
        display: none;
    }
    .input-label{
        text-align: right;
        right: 10px;
    }
    .input:focus ~ .input-label,.input:valid ~ .input-label{
        text-align: center
    }   
    .btn-filter-transaction{
        width: 40%;
    } 
}


@media screen and (max-width:430px){
    .input:focus ~ .input-label,.input:valid ~ .input-label{
        text-align: center
    }    
    .input-label{
    }
}


.routeContainer{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 40px;
}



.login-sec {
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
	border-radius: 12px;
	background: #fff;
	background-image: url('./assets/images/login.svg');
	background-repeat: no-repeat;
	background-size: contain
}

.login-sec-content {
	width: 45%;
	padding: 40px 30px 100px 10px
}

.login-sec-title {
	font-size: 18px;
	color: #37a7ae;
	opacity: .9;
	margin-bottom: 15px
}

.login-input-sec {
	position: relative;
	margin-top: 22px
}

.btn-login-fullWidth {
	width: 100%;
	height: 40px;
	background: #37a7ae;
	color: #fff;
	box-shadow: 0 3px 6px rgba(55, 167, 174, .5);
	border-radius: 24px;
	margin-top: 22px
}

.login-sec-remember {
	font-size: 16px;
	color: #37a7ae;
	margin: 30px 0
}

.margin-remember {
	margin: 12px 0
}

.save-user-pass {
	font-size: 14px;
	color: #343436;
	opacity: .9;
	margin-top: 18px
}

.input-img-login-position {
	position: absolute;
    right: 16px;
    top: 18px;
    width: 20px;
}

.input-padding-right {
	padding-right: 52px
}

.checkmark-login {
	right: 0;
	top: -25%
}

.checkBox-login {
	padding-left: 0;
	padding-right: 30px
}

@media screen and (max-width:992px) {
    .internet-data-header{
        flex-direction: column;
        div{
            margin: 0;
        }
    }
    .internet-data{
        padding-right: 0;
    }
	.btn-login {
		display: none
	}
	.login-sec {
        width: 600px;
        margin: auto;
    }
    .internet-data-show-sec {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex: 1;
        min-width: 100%;
        margin: 10px auto;
        padding: 16px 12px;
        background: #FFFFFF;
        color: #343436;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    
    
	.login-sec {
		background-image: none
    }
    .login-sec {
		width: 100%;
	}
	.login-sec-content {
		width: 100%;
		padding: 40px 20px 40px 20px
	}
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
