<div class="modal-box" *ngIf="data.status">       
    <div class="modal-body">
        <div class="success-payment">
            <img src="../../../assets/images/icn_circle_check_outline_18.svg" alt="شارژ موبایل">
            <div class="green-color">خرید شما با موفقیت انجام شد.</div>
        </div>
        <div class="modal-body-sec modal-bg-dark">
            <div>کد پیگیری درگاه</div>
            <div>{{data.invoice_cc}}</div>
        </div>
    </div>
</div>

<div class="modal-box" *ngIf="!data.status">       
    <div class="modal-body">
        <div class="success-payment">
            <img src="../../../assets/images/icn_circle_xcross_outline_18_transction.svg" alt="شارژ موبایل">
            <div class="error-text">تراکنش موفقیت آمیز نبود.</div>
        </div>
        <div class="modal-body-sec modal-bg-dark">
            <div>کد پیگیری درگاه</div>
            <div>-</div>
        </div>
    </div>
</div>