<div class="modal-box">       
    <div class="modal-header">
        <div class="modal-header-title"> 
            <span class="close-modal">
                <img src="../../../assets/images/icn_xcross_24.svg" (click)="closeModal()" alt="">
            </span>
            {{getHeaderTitle()}}
        </div> 
        <h1 class="head"> </h1>
    </div>
    <div class="modal-body">
        <!-- <div class="modal-body-sec modal-bg-dark">
            <div>شماره موبایل</div>
            <div>
                <span></span>
                <img class="operator-img" src="../../../assets/charge-irancell.png" alt="شارژ موبایل">
                    
            </div>
        </div> -->
        <div class="modal-body-sec" [ngClass]="{'modal-bg-dark': i%2 == 0}" *ngFor="let row of table; let i = index">
            <div>{{row.key}}</div>
            <div class="primary-color">{{row.value}}</div>
        </div>
        
        <div class="modal-body-sec" *ngIf="!hasRefid()">
            <div class="section">
                <input class="input" type="text"  id="invoice" required [(ngModel)]="refid"/>
                <label class="input-label" for="invoice">
                    کد معرف 
                </label>
            </div>
            <div>
                <button class="btn btn-buy submit-refid" (click)="submitRefid(refid)" [disabled]="refidLoading">
                    <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="refidLoading" alt="">
                    <span *ngIf="!loading">ثبت</span>
                </button>
            </div>
        </div>
        <div class="modal-body-sec" *ngIf="reagent">
            <div class="section justify-between align-center">
                معرف: 
                <span class="align-center">
                    <img style="width: 38px;margin-left: 4px;border-radius: 100%;" [src]="reagent.avatar_link" alt="">
                     {{reagent.fname}} {{reagent.lname}} ({{reagent.usercode}})
                </span>
            </div>
        </div>
        <div class="modal-body-sec">
            <div class="phoneCharge-label-price"><span class="dot"></span> انتخاب شیوه پرداخت</div>
        </div>

        <div class="payment-method">
            <button class="btn btn-payment-method d-flex" [ngClass]="{'btn-payment-method-active': gateway_payment == 100}" (click)="gateway_payment = 100" *ngIf="ewallet"> پرداخت از کیف پول</button>
            <button class="btn btn-payment-method" [ngClass]="{'btn-payment-method-active': gateway_payment != 100}" (click)="gateway_payment = 2">پرداخت از درگاه</button>
        </div>
        <div class="modal-body-sec p-20 justify-center" *ngIf="ewallet && gateway_payment == 100">
            <div class="">
                <div class="payment-checkbox-sec">
                    <img class="w-100" src="../../../assets/images/wallet.png" alt="">
                </div>
            </div>
        </div>
        <div class="modal-body-sec" *ngIf="ewallet && gateway_payment == 100">
            <div>اعتبار کیف پول</div>
            <div class="primary-color">{{ewallet.amount | rialToToman | numberSeperator | persianNumber}} تومان</div>
        </div>
        <div class="modal-body-sec" *ngIf="ewallet && gateway_payment == 100">
            <div>وضعیت کیف پول</div>
            <div class="primary-color">{{getStatus(ewallet.status)}} </div>
        </div>
        <div *ngIf="gateway_payment != 100">
            <div class="modal-body-sec">
                <div class="phoneCharge-label-price"><span class="dot"></span> انتخاب  درگاه</div>
            </div>

            <div class="payment-checkBox">
                <div class="payment-checkbox-sec">
                    <img src="../../../assets/images/virapay.png" alt="شارژ موبایل">
                    <span>درگاه ویرا پی</span>
                    <label class="chechbox">
                        <input id="virapay" type="radio" [checked]="true" name="radio">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="modal-body-sec">
            <button class="btn btn-buy" (click)="pay()" [disabled]="loading">
               <img class="loading-gif" src="../../../assets/loading-white.gif" *ngIf="loading" alt="">
               <span *ngIf="!loading">پرداخت</span>
            </button>
        </div>
    </div> 
</div>