<footer class="footer">
    <div class="footer-nav container">
        <div class="footer-nav-right">
            <ul>
                <li class="footer-nav-item"><img class="footer-logo-img" src="../../../assets/images/index.svg" alt="شارژ موبایل"></li>
                <li class="footer-nav-item"><a class="footer-logo-title" href="#">عصر ویرا</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-main">
        <div class="footer-main-right">
            <div class="footer-menu">
                <ul class="list-style-type">
                    <li class="footer-menu-item"><a class="footer-menu-link" target="_blank" href="https://asrevira.com/درباره-عصرویرا/">درباره عصر ویرا</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-link" target="_blank" href="https://asrevira.com/وبلاگ/">وبلاگ</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-link" target="_blank" href="https://asrevira.com/سوالات-متداول/">پرسش های متداول</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-link" target="_blank" href="https://asrevira.com/قوانین/">قوانین و مقررات</a></li>
                </ul>
            </div>
            <div class="footer-menu">
                <ul class="list-style-type">
                    <li class="footer-menu-item"><a class="footer-menu-link" target="_blank" href="https://asrevira.com/تماس-با-ما/">تماس با ما</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-link" target="_blank" href="https://asrevira.com/حریم-خصوصی/">حریم خصوصی</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-main-left">
            <a class="social-link" href="https://logo.samandehi.ir/Verify.aspx?id=160392&p=rfthgvkaobpdxlaopfvluiwk" target="_blank"><img class="social-img" src="../../../assets/images/1.png" alt="شارژ موبایل"></a>
            <a class="social-link" href="https://trustseal.enamad.ir/?id=133004&Code=y3ntTbw3jZ3rFXspTy9e" target="_blank"><img class="social-img" src="../../../assets/images/enamaad.png" alt="شارژ موبایل"></a>
            <br>
            <span class="footer-description">تمامی حقوق این سایت برای <a href="https://asrevira.com" target="_blank" class="footer-changeColor">نوین پردازان آتیه عصر ویرا</a> محفوظ است.</span>
        </div>
    </div>
</footer>